* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
}

.container{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-area:
		"navbar"
		"header"
		"sidebar"
		"mystory"
		"references"
		"footer";
}

#navbar{
	grid-area: navbar;
}

header{
	grid-area: header;
}

#sidebar{
	grid-area: sidebar;
}

#mystory{
	grid-area: mystory;
}
#references{
	grid-area: references;
}
#footer{
	grid-area: footer;
}



.nav-wrapper{
	text-align: center;
	width: 100%;
}
nav{
	margin: 0;
}
nav ul{
	background-image: linear-gradient(lightblue, white);
	margin: 0 2px;
	padding: 5px 0 25px 0px;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 5px;
}


nav a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	margin: 0 5px;
}
nav a:hover{
	color: #E7E7E7;
	border-bottom: solid;
	border-bottom-color: #B1DAE7;
}

header{
	display: inline-block;
	margin: 0 20vw;
}

.header-wrapper{
}
.header-image{
	width: 180px;
	border-radius: 50px;
}

.header-text{
	text-align: center;
	font-size: .9rem
	margin: 80px 0 0 25px;
	border-bottom: solid 1px;
	
}

.header-text p {
	text-align: center;
	font-size: .8rem;
	margin: 5px 0;
}

.about, .experience {
	border: solid 2px hsla(205,96%,73%,1.00);
	border-radius: 5px;
	background-color: #F4F4F4
}

.about h2, .experience h2{
	text-align: end;
	margin: .2em .5em;
}
.about p{
	margin: .5em;
}

.experience ul{
	list-style-type: none;
	border-left: solid .1em hsla(209,99%,35%,1.00);
	margin: 1em;
	padding: .5em .5em;
	font-size: 1.3rem;
	background-color: #E4E4E4;
}
.part2, .part3{
	font-size: 1.1rem;
	margin: .1rem 1rem;
}
.part3{
	font-size: 1rem;
	margin: .2em;
}

.references-wrapper{
	border: solid 2px hsla(205,96%,73%,1.00);
	border-radius: 5px;
	background-color: #F4F4F4;
	postion: relative;
	
}

.Reference1, .Reference2, .Reference3, .Reference4{
	padding: 1em;
}

.references-wrapper pr{
	font-size: .8rem;
}

.references-wrapper span{
	font-size: .9rem;
	font-weight: normal;
}

@media (max-width: 800px){
	.references-wrapper{
		display: flex;
	}
}
